# /etc/systemd/system/doorparty-connector.service

[Unit]
Description=DoorParty Connector

[Service]
Type=simple
WorkingDirectory=/opt/doorparty-connector
ExecStart=/opt/doorparty-connector/doorparty-connector

[Install]
WantedBy=multi-user.target

